.form-container {
    background-color: #c5c9cb;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(134, 47, 47, 0.1);
  }
  
.custom-form .custom-input {
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
 